[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "bundle/palenight-theme"]
	path = bundle/palenight-theme
	url = git@github.com:drewtempelmeyer/palenight.vim.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule "bundle/salt-vim"]
	path = bundle/salt-vim
	url = git@github.com:saltstack/salt-vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-solarized8-theme"]
	path = bundle/vim-solarized8-theme
	url = git@github.com:lifepillar/vim-solarized8.git
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "bundle/vim-synthwave-theme"]
	path = bundle/vim-synthwave-theme
	url = git@github.com:exitface/synthwave.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = git@github.com:davidhalter/jedi.git
